* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(117, 57, 57);
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: grey;
  /* border-radius: 7px;
  box-shadow: 0 2px 5px #ccc; */
  /* padding: 10px; */
  width: 130px;
  height: 130px;
  margin: 20px;
 /* float: left; */
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.board{
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  margin-left: 33.3333%;
  margin-top: 2%;
}

.whosPlaying{
  color: antiquewhite;
  font-size: x-large;
  margin-bottom: 3%;
}

.square{
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.board-row{
  clear: both;
  /* content: ""; */
  /* display: table; */
}

#sq0{
  border-top-width: 0 ;
  border-left-width: 0;
  margin-top: 20px;
  margin-left: 20px;
}
#sq1{
  border-top-width: 0 ;
  margin-top: 20px;
}
#sq2{
  border-top-width: 0 ;
  border-right-width: 0;
  margin-top: 20px;
}
#sq3{
  border-left-width: 0;
  margin-left: 20px;
}
#sq5{
  border-right-width: 0;
}
#sq6{
  border-bottom-width: 0 ;
  border-left-width: 0;
  margin-left: 20px;
}
#sq7{
  border-bottom-width: 0 ;
}
#sq8{
  border-bottom-width: 0 ;
  border-right-width: 0;
}

.button{
  margin-left: 42%;
  height: 50px;
  width: 150px;
  font-size: medium;
  margin-top: 1%;
  border-radius: 6px;
  background-color: green;
  color: white;
}

img{
  width: 80px;
  height: 80px;
}

